@import url(./reset.css);
.btn-size, #intro .btn, #intro .btn:hover, #aboutUs div .btn, #products div .btn, #customers div .btn, #aboutUs div .btn:hover, #products div .btn:hover, #customers div .btn:hover, #aboutUs div .outline-btn, #products div .outline-btn, #customers div .outline-btn, #aboutUs div .outline-btn:hover, #products div .outline-btn:hover, #customers div .outline-btn:hover, #another-product .btn, #another-product .btn:hover {
  width: 18rem;
  height: 5rem;
  -webkit-box-shadow: #000 0.1rem 0.1rem 0.5rem;
          box-shadow: #000 0.1rem 0.1rem 0.5rem;
  font-weight: 400;
}

.img-size, #aboutUs div img, #products div img, #customers div img {
  width: 52rem;
  height: 55rem;
}

section {
  max-width: 100vw;
}

h3 {
  color: #463232;
  font-size: 5rem;
  font-weight: 400;
  margin: 2rem 0 0 0;
}

.discribe {
  width: 50vw;
  text-align: center;
}

h2 {
  text-align: center;
}

header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 2.5rem 5rem 2.5rem 5rem;
  background: -webkit-gradient(linear, left top, right top, from(#f1d7c8), color-stop(#efd2c2), to(#f6d6c4));
  background: linear-gradient(0.25turn, #f1d7c8, #efd2c2, #f6d6c4);
}

header ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  list-style-type: none;
}

header li {
  color: #463232;
  font-size: 1.6rem;
  font-weight: 500;
}

header #brand {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  color: #463232;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Raleway';
}

header #menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  color: #463232;
  font-size: 1.6rem;
}

#intro {
  background: url(../images/products/p1.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 4rem;
}

#intro h1 {
  color: #463232;
  font-family: 'open sans';
  font-size: 8rem;
  letter-spacing: -0.6rem;
  text-align: center;
}

#intro p {
  max-width: 25vw;
  font-size: 1.7rem;
  font-weight: 500;
  margin: 8rem 0rem 0 8rem;
}

#intro .btn {
  background-color: #463232;
  color: rgba(243, 243, 243, 0.993);
  border: none;
  margin: 4rem 8rem;
}

#intro .btn:hover {
  background-color: white;
  color: #463232;
  border: 0.1rem solid #463232;
}

#intro .search-box {
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1rem;
  margin: 4rem 8rem;
  background: rgba(243, 243, 243, 0.993);
}

#intro .search-box input {
  background: rgba(243, 243, 243, 0.993);
  padding: 0.8rem 0.8rem;
  border: 0;
  outline: none;
  color: #c1c1c1;
}

#intro .search-box #search-button {
  background: #463232;
  padding: 0.8rem 0.9rem 0.8rem 0.9rem;
  color: rgba(243, 243, 243, 0.993);
  font-size: 1.5rem;
  border: none;
}

#intro .search-box #search-button :hover {
  cursor: pointer;
}

#lenders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fef6f0;
  padding: 4rem;
}

#lenders h2 {
  color: #463232;
  font-size: 2.3rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

#lenders .lendors-logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5rem;
}

#lenders .lendors-logo .span-size, #lenders .lendors-logo #chase, #lenders .lendors-logo #asana, #lenders .lendors-logo #google, #lenders .lendors-logo #buzz, #lenders .lendors-logo #toggle, #lenders .lendors-logo #walmart {
  width: 10.5rem;
  height: 2.5rem;
}

#lenders .lendors-logo #chase {
  background: url(../images/brands/chasesm.png);
  background-size: cover;
}

#lenders .lendors-logo #asana {
  background: url(../images/brands/asanasm.png) right;
  background-size: cover;
}

#lenders .lendors-logo #google {
  background: url(../images/brands/googlesm.png) center;
  background-size: cover;
  height: 3.5rem;
}

#lenders .lendors-logo #buzz {
  background: url(../images/brands/buzzfeedsm.png) center;
  background-size: cover;
  width: 14rem;
  height: 2.5rem;
  margin-bottom: 0.5rem;
}

#lenders .lendors-logo #toggle {
  background: url(../images/brands/Togglesm.png) center;
  background-size: cover;
  height: 3rem;
}

#lenders .lendors-logo #walmart {
  background: url(../images/brands/walmartsm.png) left;
  background-size: cover;
  width: 13.5rem;
  height: 3.5rem;
  margin-bottom: 1rem;
}

#aboutUs, #products, #customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem 0 2rem 0;
  gap: 10rem;
}

#aboutUs div, #products div, #customers div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 38vw;
}

#aboutUs div .btn, #products div .btn, #customers div .btn {
  background-color: #463232;
  color: rgba(243, 243, 243, 0.993);
  border: none;
  margin-bottom: 4rem;
}

#aboutUs div .btn:hover, #products div .btn:hover, #customers div .btn:hover {
  background-color: white;
  color: #463232;
  border: 0.1rem solid #463232;
}

#aboutUs div .outline-btn, #products div .outline-btn, #customers div .outline-btn {
  background-color: white;
  color: #463232;
  border: 0.1rem solid #463232;
}

#aboutUs div .outline-btn:hover, #products div .outline-btn:hover, #customers div .outline-btn:hover {
  background-color: #463232;
  color: rgba(243, 243, 243, 0.993);
  border: none;
}

#aboutUs h2, #products h2, #customers h2 {
  color: #463232;
  font-size: 7rem;
  font-weight: 400;
  margin: 4rem 0 0 0;
}

#aboutUs p, #products p, #customers p {
  width: 33vw;
  font-size: 1.7rem;
  font-weight: 400;
  color: gray;
}

#products {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6rem;
}

#products #products-img-span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10rem;
}

#products div {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0;
}

#products div #product-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#products div #products-img-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10rem;
}

#products div button {
  margin-top: 3rem;
}

#products div .btn-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30vw;
}

#products div .analytic-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20vw;
  margin: 2rem 0 2rem 0;
  gap: 2rem;
}

#products div .analytic-span span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#products div .analytic-span span p {
  font-size: 1.4rem;
}

#products div .analytic-span p {
  width: 10vw;
  margin-top: 1rem;
}

#products div .analytic {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3rem;
  font-weight: 500;
  color: #00557d;
  border-bottom: #463232 solid 3px;
}

#analytics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(254, 246, 240, 0.3);
  text-align: center;
  padding: 2rem 0 2rem 0;
  gap: 2rem;
}

#analytics span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  width: 38rem;
  height: 10rem;
  gap: 0;
}

#analytics .analytics-title {
  color: #463232;
  font-size: 3.5rem;
  font-weight: bold;
}

#analytics .analytics-describe {
  color: gray;
  font-size: 2rem;
  font-weight: 400;
}

#analytics .right-border {
  border-right: #463232 solid 3px;
  padding-right: 2rem;
}

#analytics .left-border {
  border-left: #463232 solid 3px;
  padding-left: 2rem;
}

#another-product {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 8rem 2rem 8rem 2rem;
  gap: 6rem;
}

#another-product .section-parts {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  width: 47rem;
  height: 50rem;
  gap: 0;
}

#another-product #describe-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#another-product #behind-span {
  min-width: 47rem;
  min-height: 50rem;
  background-color: #f1d7c8;
  margin-top: 5rem;
  margin-left: 10rem;
}

#another-product #infront-img {
  width: 47rem;
  height: 50rem;
  margin-left: -44rem;
}

#another-product p {
  width: 33vw;
  font-size: 1.7rem;
  font-weight: 400;
  color: gray;
}

#another-product .btn {
  background-color: #463232;
  color: rgba(243, 243, 243, 0.993);
  border: none;
}

#another-product .btn:hover {
  background-color: white;
  color: #463232;
  border: 0.1rem solid #463232;
}

#customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  gap: 6rem;
  background-color: #fef6f0;
  padding-bottom: 10rem;
}

#customers #customer-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3rem;
}

#customers #title-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

#customers #arrows {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95rem;
}

#customers h2 {
  width: 80rem;
}

#customers .arrows-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 4rem;
  min-height: 4rem;
  border: #463232 solid 1px;
  border-radius: 100%;
  color: #463232;
  font-size: 1.5rem;
}

#customers .arrows-span:hover {
  background-color: #463232;
  color: rgba(243, 243, 243, 0.993);
}

#customers .costumer-div {
  width: 32rem;
  height: 40rem;
  padding: 3rem;
  background-color: white;
}

#customers .costumer-div:hover {
  -webkit-box-shadow: 0 0 30px rgba(243, 243, 243, 0.993);
          box-shadow: 0 0 30px rgba(243, 243, 243, 0.993);
}

#customers .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #fd8a76;
  font-size: 1.2rem;
  gap: 0;
}

#customers .customer-oponion {
  width: 27rem;
}

#customers .customer-info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#customers .customer-info div {
  gap: 0;
}

#customers .customer-img {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}

#customers .customer-name {
  color: #463232;
  font-size: 1.4rem;
  font-weight: 500;
}

#customers .customer-role {
  font-size: 1.3rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

footer #footer-menus, footer #footer-menus-span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  gap: 10rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer #footer-menus #footer-brand, footer #footer-menus h5, footer #footer-menus #footer-menus-span h5, footer #footer-menus-span #footer-menus h5, footer #footer-menus-span #footer-brand, footer #footer-menus-span #footer-menus h5, footer #footer-menus #footer-menus-span h5, footer #footer-menus-span h5 {
  color: #463232;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Raleway';
  margin-bottom: 2rem;
}

footer #footer-menus p, footer #footer-menus-span p {
  width: 33vw;
  font-size: 1.7rem;
  font-weight: 400;
  color: gray;
}

footer #footer-menus h5, footer #footer-menus-span h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

footer #footer-menus ul, footer #footer-menus-span ul {
  list-style-type: none;
}

footer #footer-menus ul li, footer #footer-menus-span ul li {
  margin-bottom: 1rem;
}

footer #footer-menus a, footer #footer-menus-span a {
  text-decoration: none;
  color: gray;
  font-size: 1.5rem;
}

footer #footer-menus {
  padding-top: 10rem;
}

footer #footer-socials-span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 80vw;
  padding-bottom: 3rem;
  border-bottom: rgba(243, 243, 243, 0.993) solid 2px;
}

footer .footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 4rem;
  min-height: 4rem;
  border: #463232 solid 1px;
  border-radius: 100%;
  color: rgba(243, 243, 243, 0.993);
  background-color: #463232;
  font-size: 1.5rem;
}

footer .footer-socials:hover {
  background-color: rgba(243, 243, 243, 0.993);
  color: #463232;
}

footer #copy-right-span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

footer #copy-right-span p {
  width: 33vw;
  font-size: 1.7rem;
  font-weight: 400;
  color: gray;
}
/*# sourceMappingURL=style.css.map */