@import url(./reset.css);
.btn-size, #intro .btn, #intro .btn:hover, #aboutUs div .btn, #aboutUs div .btn:hover, #aboutUs div .outline-btn, #aboutUs div .outline-btn:hover {
  width: 18rem;
  height: 5rem;
  -webkit-box-shadow: #000 0.1rem 0.1rem 0.5rem;
          box-shadow: #000 0.1rem 0.1rem 0.5rem;
  font-weight: 400;
}

.img-size, #aboutUs div #about-us-img1, #aboutUs div #about-us-img2 {
  width: 52rem;
  height: 50rem;
}

section {
  max-width: 100vw;
}

header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 2.5rem 5rem 2.5rem 5rem;
  background: -webkit-gradient(linear, left top, right top, from(#f1d7c8), color-stop(#efd2c2), to(#f6d6c4));
  background: linear-gradient(0.25turn, #f1d7c8, #efd2c2, #f6d6c4);
}

header ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  list-style-type: none;
}

header li {
  color: #463232;
  font-size: 1.6rem;
  font-weight: 500;
}

header #brand {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  color: #463232;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Raleway';
}

header #menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  color: #463232;
  font-size: 1.6rem;
}

#intro {
  background: url(../images/products/p1.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 4rem;
}

#intro h1 {
  color: #463232;
  font-family: 'open sans';
  font-size: 8rem;
  letter-spacing: -0.6rem;
  text-align: center;
}

#intro p {
  max-width: 27vw;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 8rem 0rem 0 8rem;
}

#intro .btn {
  background-color: #463232;
  color: rgba(243, 243, 243, 0.993);
  border: none;
  margin: 4rem 8rem;
}

#intro .btn:hover {
  background-color: #463232;
  color: rgba(243, 243, 243, 0.993);
  border: none;
}

#intro .search-box {
  width: 20rem;
  max-height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 1.2rem;
  margin: 4rem 8rem;
  background: rgba(243, 243, 243, 0.993);
}

#intro .search-box input {
  background: rgba(243, 243, 243, 0.993);
  width: 80%;
  padding: 0.8rem 0.8rem;
  border: 0;
  outline: none;
  color: #c1c1c1;
}

#intro .search-box #search-button {
  background: #463232;
  padding: 0.8rem 0.9rem 0.8rem 0.9rem;
  color: rgba(243, 243, 243, 0.993);
  font-size: 1.5rem;
  border: none;
}

#intro .search-box #search-button :hover {
  cursor: pointer;
}

#lenders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fef6f0;
  padding: 4rem;
}

#lenders h2 {
  color: #463232;
  font-size: 2.3rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

#lenders .lendors-logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5rem;
}

#lenders .lendors-logo .span-size, #lenders .lendors-logo #chase, #lenders .lendors-logo #asana, #lenders .lendors-logo #google, #lenders .lendors-logo #buzz, #lenders .lendors-logo #toggle, #lenders .lendors-logo #walmart {
  width: 10.5rem;
  height: 2.5rem;
}

#lenders .lendors-logo #chase {
  background: url(../images/brands/chasesm.png);
  background-size: cover;
}

#lenders .lendors-logo #asana {
  background: url(../images/brands/asanasm.png) right;
  background-size: cover;
}

#lenders .lendors-logo #google {
  background: url(../images/brands/googlesm.png) center;
  background-size: cover;
  height: 3.5rem;
}

#lenders .lendors-logo #buzz {
  background: url(../images/brands/buzzfeedsm.png) center;
  background-size: cover;
  width: 14rem;
  height: 2.5rem;
  margin-bottom: 0.5rem;
}

#lenders .lendors-logo #toggle {
  background: url(../images/brands/Togglesm.png) center;
  background-size: cover;
  height: 3rem;
}

#lenders .lendors-logo #walmart {
  background: url(../images/brands/walmartsm.png) left;
  background-size: cover;
  width: 13.5rem;
  height: 3.5rem;
  margin-bottom: 1rem;
}

#aboutUs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem 0 2rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10rem;
}

#aboutUs div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 38vw;
}

#aboutUs div h2 {
  color: #463232;
  font-size: 7rem;
  font-weight: 400;
  letter-spacing: -0.6rem;
  margin: 4rem 0 0 0;
}

#aboutUs div p {
  width: 40vw;
  font-size: 1.4rem;
  font-weight: 400;
  color: gray;
}

#aboutUs div .btn {
  background-color: #463232;
  color: rgba(243, 243, 243, 0.993);
  border: none;
}

#aboutUs div .btn:hover {
  background-color: rgba(243, 243, 243, 0.993);
  color: #463232;
  border: 0.1rem solid #463232;
}

#aboutUs div .outline-btn {
  background-color: rgba(243, 243, 243, 0.993);
  color: #463232;
  border: 0.1rem solid #463232;
}

#aboutUs div .outline-btn:hover {
  background-color: #463232;
  color: rgba(243, 243, 243, 0.993);
  border: none;
}
/*# sourceMappingURL=style.css.map */