@import url(./reset.css);

$brown-color:#463232;
$light-gray-color: rgba(243, 243, 243, 0.993);
$white-color:rgb(255, 255, 255);
$brand-color1:rgb(241,215,200);
$brand-color2:rgb(239,210,194);
$brand-color3:rgb(246,214,196);
$light-pink:rgb(254,246,240);
$lighter-pink:rgba(254,246,240,0.3);
$analytic-blue:rgb(0,85,125);
$stars-color:rgb(253,138,118);

@mixin  inline-flex{
    display:inline-flex;
    justify-content: space-around;
    align-items:center;
    gap: 2rem;
} 

@mixin btn {
    background-color: $brown-color;
    color:$light-gray-color ;
    border: none;   
    @extend .btn-size;  
}
@mixin  outline-btn {
    background-color:white;
    color:$brown-color ;
    border:0.1rem solid $brown-color;
    @extend .btn-size;
}
@mixin  paragraph {
    width: 33vw;
    font-size: 1.7rem;
    font-weight: 400;
    color: gray
}
.btn-size{
    width: 18rem;
    height: 5rem;
    box-shadow:#000 0.1rem 0.1rem 0.5rem;
    font-weight: 400;
}
.img-size{
    width: 52rem;
    height: 55rem;
}
section{
    max-width:100vw;
}
h3{
    color: $brown-color;
    font-size: 5rem;
    font-weight: 400;
    margin: 2rem 0 0 0;
}
.discribe{
    width: 50vw;
    text-align: center;  
}
h2{
    text-align: center;
}
//header
header{
    @include inline-flex();
    padding: 2.5rem 5rem 2.5rem 5rem;
    background: linear-gradient(0.25turn,$brand-color1, $brand-color2,$brand-color3);
    ul{
        @include inline-flex();  
        list-style-type: none;
    }
    li{
        color: $brown-color;
        font-size: 1.6rem;
        font-weight: 500;
    }
    #brand{
        @include inline-flex();
        color: $brown-color;
        font-size: 2.5rem;
        font-weight: bold;
        font-family: 'Raleway';
    }
    #menu{
        @include inline-flex();
        color: $brown-color;
        font-size: 1.6rem;
    }

}
//first section with search box
#intro{
    background: url(../images/products/p1.jpg) no-repeat center;
    background-size: cover;
    padding-bottom: 4rem ;
    h1{
        color: $brown-color;
        font-family: 'open sans';
        font-size: 8rem;
        letter-spacing:-0.6rem;
        text-align: center;
    }
    p{
        max-width: 25vw;
        font-size: 1.7rem;
        font-weight: 500;
        margin: 8rem 0rem 0 8rem;
    }
    .btn{
        @include btn();
        margin: 4rem 8rem;
    }
    .btn:hover{
        @include outline-btn();
    }
    .search-box{
        width: 25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem;
        margin:4rem 8rem;
        background: $light-gray-color;

        input{
            background: $light-gray-color;
            padding: 0.8rem 0.8rem;
            border: 0;
            outline: none;
            color: #c1c1c1;
        }
        #search-button{
            background: $brown-color;
            padding: 0.8rem 0.9rem 0.8rem 0.9rem;
            color: $light-gray-color;
            font-size: 1.5rem;
            border: none;

            :hover{
                cursor:pointer;
            }
        }
    }
}
//lenders section
#lenders{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $light-pink;
    padding: 4rem;
    h2{
        color: $brown-color;
        font-size: 2.3rem;
        font-weight: 400;
        margin-bottom: 4rem;
    }
    .lendors-logo{
        display: inline-flex;
        flex-wrap: wrap;
        align-items:center;
        justify-content: space-between;
        gap: 5rem;
        .span-size{
            width: 10.5rem;
            height: 2.5rem;
        }
        #chase{
            @extend .span-size;
            background: url(../images/brands/chasesm.png); 
            background-size: cover;
        }
        #asana{
            @extend .span-size;
            background: url(../images/brands/asanasm.png) right; 
            background-size: cover;
        }
        #google{
            @extend .span-size;
            background: url(../images/brands/googlesm.png) center; 
            background-size: cover;
            height:3.5rem;
        }
        #buzz{
            @extend .span-size;
            background: url(../images/brands/buzzfeedsm.png)center; 
            background-size: cover;
            width: 14rem;
            height: 2.5rem;
            margin-bottom: 0.5rem;
        }
        #toggle{
            @extend .span-size;
            background: url(../images/brands/Togglesm.png) center; 
            background-size: cover;
            height:3rem;
        }
        #walmart{
            @extend .span-size;
            background: url(../images/brands/walmartsm.png) left; 
            background-size: cover;
            width: 13.5rem;
            height:3.5rem;
            margin-bottom: 1rem;
        }

    }
}
//start about us section
#aboutUs{
    @include inline-flex(); 
    flex-direction: row;
    padding: 2rem 0 2rem 0;
    justify-content: center;
    gap: 10rem;
    div{
        @include inline-flex();
        flex-direction: column;
        align-items: flex-start;
        width: 38vw;
        .btn{
            @include btn();
            margin-bottom: 4rem;
        }
        .btn:hover{
            @include outline-btn();
        } 
        .outline-btn{
            @include outline-btn()
        }
        .outline-btn:hover{
            @include btn()
        }
        img{
            @extend .img-size;
        }
    }
    h2{
            color: $brown-color;
            font-size: 7rem;
            font-weight: 400;
            margin: 4rem 0 0 0;
    }
    p{
       @include paragraph()  
    }
    
}
//start products section
#products{
    @extend #aboutUs;
    flex-direction: column;
    gap:6rem;
    #products-img-span{
        display: flex;
        gap: 10rem;
    }
    div{
        justify-content: flex-start;
        gap:0;
        
        #products-img-span {
            display: flex;
            gap:10rem;
        }
       
        button{
            margin-top: 3rem;
        }
        .btn-span{
            display: flex;
            justify-content: space-between;
            width: 30vw;
        }
        .analytic-span {
            display: flex;
            flex-direction: row;
            width:20vw;
            margin:2rem 0 2rem 0;
            gap:2rem
            
        }
        .analytic-span span{
            display: flex;
            flex-direction: column;
            justify-content: center;
            p{
                font-size: 1.4rem;
            } 
        }
        .analytic-span p{
            width:10vw;
            margin-top: 1rem;
        }
        
        .analytic{
            width: fit-content;
            font-size: 3rem;
            font-weight: 500;
            color: $analytic-blue;
            border-bottom: $brown-color solid 3px;
        }
    }
    
}
//start analytics section
#analytics{
    @include inline-flex();
    background-color: $lighter-pink;
    justify-content: center;
    text-align: center;
    padding: 2rem 0 2rem 0;
    gap:0;
    span{
        @include inline-flex();
        flex-direction: column;
        width: 38rem;
        height:10rem;
        gap:0;
    }
    .analytics-title{
        color: $brown-color;
        font-size: 3.5rem;
        font-weight: bold;
    }
    .analytics-describe{
        color: gray;
        font-size: 2rem;
        font-weight: 400;
    }
    .right-border{
        border-right: $brown-color solid 3px;
    }
    .left-border{
        border-left: $brown-color solid 3px;
    }
}
//start the last part of product
#another-product{
    @include inline-flex();
    padding: 8rem 2rem 8rem 2rem;
    gap:6rem;
    .section-parts{
        @include inline-flex();
        width: 47rem;
        height:50rem;
        gap:0;
    }
    #describe-span{
        @include inline-flex();
        flex-direction: column;
        align-items:flex-start;
    }
    #behind-span{
        min-width: 47rem;
        min-height: 50rem;
        background-color: $brand-color1;
        margin-top: 5rem;
        margin-left: 10rem;
    }
    #infront-img{
        width: 47rem;
        height: 50rem;
        margin-left: -44rem;
    }
    p{
        @include paragraph()  
     }
    .btn{
        @include btn(); 
    }
    .btn:hover{
        @include outline-btn();
    }
}
//start the last part of product
#customers{
    @include inline-flex();
    @extend #aboutUs;
    flex-direction: column;
    gap:6rem;
    background-color: $light-pink;
    padding-bottom: 10rem;
    #customer-cards{
        display: flex;
        gap:3rem
    }
    #title-span{
        @include inline-flex();
        flex-direction: column;
    }
    #arrows{
        @include inline-flex();
        justify-content: flex-end;
        align-items: center;
        width: 95rem;
    }
    h2{
        width: 80rem;
    }
    .arrows-span{
        min-width: 4rem;
        min-height: 4rem;
        border: $brown-color solid 1px;
        border-radius: 100%;
        color: $brown-color;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .arrows-span:hover{
        background-color: $brown-color;
        color: $light-gray-color;
    }
    div{
        width: 32rem;
        height: 33rem;
        padding: 3rem;
        background-color: $white-color;
    }
    div:hover{
        box-shadow:  0 0 30px $light-gray-color;
    }
    .stars {
        color: $stars-color;
        font-size: 1.2rem;
    }
    .customer-oponion{
        width: 27rem;
    }
    .customer-info{
        @include inline-flex()
    }
    .customer-img{
        width: 5rem;
        height: 5rem; 
        border-radius: 100%;
    }
    .customer-name{
        color: $brown-color;
        font-size: 1.4rem;
        font-weight: 500;
    }
    .customer-role{
        font-size: 1.3rem;
    }
   
}
